@font-face {
  font-family: "atlasnormal";
  src: url("./atlasnormal.ttf");
}

@font-face {
  font-family: "atlasoutlined";
  src: url("./atlasoutlined.ttf");
}

html {
  cursor: pointer;
}

.frame {
  width: 600px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-family: "atlasoutlined";
  text-align: center;
  font-size: 85px;
  letter-spacing: 12px;
}
